*{
    box-sizing: border-box;
    margin: 0px;
}

/* Header Starts */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img {
    width: 100px;
    border-radius: 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header > h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-size: 40px;
}
/* Header Ends */

/* First Section Starts */
.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: 300px;
}

.first-section div img {
    width: 300px;
    margin-right: 50px;
}

.text-area {
    width: 300px;
    margin-left: 50px;
}

.first-section div h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.first-section div h5 {
    color: #E5E7EB;
    font-weight: 100;
}

.first-section div button {
    margin-top: 8px;
    background-color: #3882F6;
    border-radius: 5px;
    border-width: 0px;
    width: 80px;
    height: 25px;
    color: #F9FAF8;
}
/* First Section Ends */

/* Second Section Starts */
.second-section {
    height: 300px;
}

.second-section h2 {
    text-align: center;
    padding: 30px;
    color: #1F2937;
    font-size: 36px;
}

.second-section .images {
    display: flex;
    /* gap: 20px; */
    justify-content: space-around;
    margin: 0px 80px;
    /* width: 800px; */
}

.images div img {
    width: 150px;
    height: 150px;
}

.images div {
    width: 150px;
    height: 150px;
}

.images div h5 {
    text-align: center;
    color: #1F2937;
    font-weight: 100;
}
/* Second Section Ends */


/* Third Section Starts */
.third-section {
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;  
}

.third-section div h2 {
    color: #1F2937;
    font-weight: 100;
    font-size: 36px;
    
}

.third-section div h5 {
    text-align: right;
    
}

.third-section div {
    width: 1200px;
    margin: 50px 80px;
}
/* Third Section Ends */

/* Fourth Section Starts */
.fourth-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section section {
    background-color: #3882F6;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.fourth-section h3 {
    color: #F9FAF8;
}

.fourth-section p {
    color: #E5E7EB;
    font-size: 10p;
}

.fourth-section button {
    margin-left: 100px;
    margin-top: 8px;
    background-color: #3882F6;
    border-radius: 5px;
    border-width: 2px;
    width: 80px;
    height: 25px;
    color: #F9FAF8;
    border-color: #F9FAF8;;
}
/* Fourth Section Ends */



/* Footer Starts */
footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

footer h5 {
    font-size: 14px;
    font-weight: 100;
}